{% extends "administrador_base.html" %}

{% block title %} Crear Usuario {% endblock %}

{% block content %}
    <h1 class="titulo">
        {% if tipo_usuario == "Administrador" %}
            {{ tipo_usuario }} <BR />
        {% endif %}
        Crear un nuevo usuario
    </h1>

    <div class="tabla">
    <form name="crear_usuario" action="{% url 'administrador:crear_usuario' %}" method="post">
        {% csrf_token %}
        <table class="formulario">
            <tbody>
                <tr>
                    <td class="etiqueta"><label for="nombre">Nombre:</label></td>
                    <td class="control"><input id="nombre" type="text" name="nombre" maxlength="100" autofocus="1"/></td>
                </tr>
                <tr>
                    <td class="etiqueta"><label for="apellido">Apellido:</label></td>
                    <td class="control"><input id="apellido" type="text" name="apellido" maxlength="100"/></td>
                </tr>
                <tr>
                    <td class="etiqueta"><label for="email">E-Mail:</label></td>
                    <td class="control"><input id="email" type="text" name="email" maxlength="100"/></td>
                </tr>
                <tr>
                    <td class="radio" colspan = "2">
                        {% if tipo_usuario == "Administrador" %}
                        <label for="admin">Administrador</label>
                        <input id=admin" type="radio" name="tipo_usuario" value="admin">
                        &nbsp;&nbsp;
                        {% endif %}
                        <label for="profesor">Profesor</label>
                        <input id="profesor" type="radio" name="tipo_usuario" value="profesor">                        &nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;
                        <label for="estudiante">Estudiante</label>
                        <input id="estudiante" type="radio" name="tipo_usuario" value="estudiante" checked>
                    </td>
                </tr>
                <tr>
                    <td class="etiqueta"><label for="username">Username:</label></td>
                    <td class="control"><input id="username" type="text" name="username" maxlength="100"/></td>
                </tr>
                <tr>
                    <td class="etiqueta"><label for="password">Password:</label></td>
                    <td class="control"><input id="password" type="password" name="password" maxlength="100"/></td>
                </tr>
                <tr>
                    <td class="etiqueta"><label for="direccion">Dirección:</label></td>
                    <td class="control"><input id="direccion" type="text" name="direccion" maxlength="100"/></td>
                </tr>
                <tr>
                    <td class="etiqueta"><label for="telefono">Teléfono:</label></td>
                    <td class="control"><input id="telefono" type="text" name="telefono" maxlength="100"/></td>
                </tr>
                {% if tipo_usuario == "Administrador" %}
                <tr>
                    <td class='checkbox' colspan = "2">
                        <label for="habilitado">Habilitado</label>
                        <input type="checkbox" name="habilitado" value="habilitado">
                    </td>
                </tr>
                {% endif %}
                <tr class="botones">
                    <td colspan = "2">
                        <input id="origen" type="hidden" name="origen" value="Crear_Usuario">
                        <input class="boton" id="create" name="create" type="submit" value="Crear" />
                        <input class="boton" id="cancel" name="cancel" type="submit" value="Cancelar" />
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    </div>

{% endblock %}